<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%- title %> </title>
</head>
<body>
    <form action="/clients/create" method="post">
        <h1>CADASTRO DE CLIENTES:</h1>
        <p>
            <table border="1">
                <tr>
                    <td>NOME: <input type="text" name="nome"  id="nome"></td>
                    <td>ENDERECO: <input type="text" name="endereco" id="endereco"></td>
                    <td>TELEFONE: <input type="text" name="telefone" id="telefone" size="11"></td>
					<td>CPF: <input type="text" name="CPF" id="CPF" size="11"></td>
                    <td><input type="submit" value="INCLUIR"></td>
                </tr>
            </table>
        </p>
    </form>
	<br>
	<h1>Lista de Clientes</h1>
	
	<table border=1>
	<tr><td>CÓDIGO</td><td>NOME</td><td>ENDEREÇO</td><td>TELEFONE</td><td>CPF</td></tr>
    <% clients.forEach(client => { %>
		<tr>
			<td> <%= client.id %> </td>		
			<td> <%= client.nome %> </td>		
			<td> <%= client.endereco %> </td>		
			<td> <%= client.telefone %> </td>		
			<td> <%= client.CPF %> </td>		
			<td><a href='/clients/update/<%= client.id %>'>ALTERAR</a></td>
			<td><a href='/clients/delete/<%= client.id %>'>DELETAR</a></td>
		</tr>
		
    <% }) %>
	</table>
</body>
</html>